/* main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 165, 165);
    padding: 1rem;
}

section{
    width: 50rem;
    max-width: 100%;
    background-color: rgb(129, 129, 129);
    border-radius: 0.6rem;
    padding: 1rem;
}

h1{
    text-align: center;
    background-color: red;
} */